<p>Salutations <%= @resource.email %> !</p>

<p>Quelqu’un a demandé un lien de réinitialisation de votre mot de passe. Le voici.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n’était pas vous, ignorez simplement ce message.</p>
<p>Votre mot de passe ne changera pas tant que vous n’aurez pas cliqué sur le lien ci-dessus et que vous n’en aurez pas renseigné un nouveau.</p>